<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>rwanda.coding.academy</welcome-file>
        <welcome-file>Hello Servlet</welcome-file>
        <welcome-file>index.htmhl</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <display-name>Hello Application</display-name>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmission.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello-servlet</url-pattern>
        <url-pattern>/rwanda.coding.academy</url-pattern>
    </servlet-mapping>
</web-app>